NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_MESSENGER_URL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_PRODUCT_SHARE_URL=
NEXT_PUBLIC_META_PIXEL_ID=
LALAMOVE_ENV=
LALAMOVE_API_KEY=
LALAMOVE_API_SECRET=
LALAMOVE_MARKET=
LALAMOVE_SERVICE_TYPE=
LALAMOVE_PICKUP_ADDRESS=
LALAMOVE_PICKUP_LAT=
LALAMOVE_PICKUP_LNG=
